In [1]:
import pandas as pd
import numpy as np
import folium
%matplotlib inline

## Here are the questions we want to answer:
## 1. which state has the highest median income, which one has the lowest median income
## 2. the distribution of the median income among the states
## 3. Is there inequality among the states, inside the state?

In [2]:
data = pd.read_csv('../Week 5/Week5-Visualization/us_county_data.csv')
data.head(3)

,FIPS_Code,State,Area_name,Civilian_labor_force_2011,Employed_2011,Unemployed_2011,Unemployment_rate_2011,Median_Household_Income_2011,Med_HH_Income_Percent_of_StateTotal_2011
0,0,US,United States,154505871,140674478,13831393,9,50502,100
1,1000,AL,Alabama,2190519,1993977,196542,9,41427,100
2,1001,AL,Autauga County,25930,23854,2076,8,48863,117.9

In [3]:
type(data.Median_Household_Income_2011.values)

numpy.ndarray

In [4]:
mask1 = data.Area_name.str.contains('County')
data1 = data[mask1].reset_index()
data1.head(3)

,index,FIPS_Code,State,Area_name,Civilian_labor_force_2011,Employed_2011,Unemployed_2011,Unemployment_rate_2011,Median_Household_Income_2011,Med_HH_Income_Percent_of_StateTotal_2011
0,2,1001,AL,Autauga County,25930,23854,2076,8,48863,117.9
1,3,1003,AL,Baldwin County,85407,78491,6916,8.1,50144,121
2,4,1005,AL,Barbour County,9761,8651,1110,11.4,30117,72.7

In [5]:
len(data1)

3006

In [20]:
data1.Median_Household_Income_2011 = data1.Median_Household_Income_2011.apply(lambda v: int(v))

In [16]:
#help(pd.Series)

In [21]:
type(data1.Median_Household_Income_2011.iloc[0])

numpy.int64

In [22]:
data1.head(3)

,index,FIPS_Code,State,Area_name,Civilian_labor_force_2011,Employed_2011,Unemployed_2011,Unemployment_rate_2011,Median_Household_Income_2011,Med_HH_Income_Percent_of_StateTotal_2011
0,2,1001,AL,Autauga County,25930,23854,2076,8,48863,117.9
1,3,1003,AL,Baldwin County,85407,78491,6916,8.1,50144,121
2,4,1005,AL,Barbour County,9761,8651,1110,11.4,30117,72.7

In [34]:
med_income = data1.groupby('State').Median_Household_Income_2011.mean()
med_income = med_income.sort_values()
med_income

State
MS    33559.951220
AR    35257.440000
AL    36435.029851
WV    36964.890909
KY    37584.200000
SC    37932.608696
TN    38037.789474
NM    38361.242424
GA    38797.220126
MO    39322.894737
AZ    39913.733333
OK    40019.727273
MT    40168.339286
NC    40220.640000
FL    41394.343284
MI    42042.469880
ID    42142.818182
TX    42562.905512
ME    43207.625000
OR    43225.111111
SD    43949.378788
KS    44546.257143
NE    44701.032258
OH    45473.068182
IN    46444.500000
PA    46611.194030
IA    47401.181818
WA    47544.076923
WI    47796.527778
IL    47820.637255
VT    48595.000000
CO    48960.625000
ND    49337.320755
MN    50000.045977
NV    50923.625000
UT    50926.482759
NY    51111.209677
VA    51414.852632
CA    51579.431034
WY    54523.956522
DE    55064.000000
NH    55177.400000
HI    56600.250000
MA    59411.857143
RI    61808.400000
MD    65141.565217
CT    67120.625000
NJ    67946.809524
Name: Median_Household_Income_2011, dtype: float64

In [38]:
#help(med_income.sort_values)
med_income.values

array([33559.95121951, 35257.44      , 36435.02985075, 36964.89090909,
       37584.2       , 37932.60869565, 38037.78947368, 38361.24242424,
       38797.22012579, 39322.89473684, 39913.73333333, 40019.72727273,
       40168.33928571, 40220.64      , 41394.34328358, 42042.46987952,
       42142.81818182, 42562.90551181, 43207.625     , 43225.11111111,
       43949.37878788, 44546.25714286, 44701.03225806, 45473.06818182,
       46444.5       , 46611.19402985, 47401.18181818, 47544.07692308,
       47796.52777778, 47820.6372549 , 48595.        , 48960.625     ,
       49337.32075472, 50000.04597701, 50923.625     , 50926.48275862,
       51111.20967742, 51414.85263158, 51579.43103448, 54523.95652174,
       55064.        , 55177.4       , 56600.25      , 59411.85714286,
       61808.4       , 65141.56521739, 67120.625     , 67946.80952381])

In [42]:
hist_indicator = 'Median_Household_Income_2011'
def do_map(g_data, p_data, code, val):
    map = folium.Map(location=[100,0], zoom_start=1.5)
    map.choropleth(geo_data=g_data, data=p_data,
              columns=[code, val],
              key_on = 'feature.id',
              fill_color='YlGnBu', fill_capacity=0.7, line_oapacity=0.2,
              legend_name=hist_indicator)
    map.save('plot_data.html')

In [37]:
us_geo = '../Week 5/Week5-Visualization/geo/us-states.json'

In [43]:
do_map(us_geo, data1, 'State', 'Median_Household_Income_2011')

/Users/r38411/anaconda2/envs/py35/lib/python3.5/site-packages/folium/folium.py:426: FutureWarning: The choropleth  method has been deprecated. Instead use the new Choropleth class, which has the same arguments. See the example notebook 'GeoJSON_and_choropleth' for how to do this.
  FutureWarning

In [44]:
from IPython.display import HTML
HTML('<iframe src=plot_data.html width=900 height=700></iframe>')