In [2]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np
from itertools import cycle, islice
import matplotlib.pyplot as plt
from pandas.plotting import parallel_coordinates

%matplotlib inline

In [3]:
data = pd.read_csv('./Week-7-MachineLearning/weather/small_minute_weather.csv')
data.head(3)

,Unnamed: 0,rowID,hpwren_timestamp,air_pressure,air_temp,avg_wind_direction,avg_wind_speed,max_wind_direction,max_wind_speed,min_wind_direction,min_wind_speed,rain_accumulation,rain_duration,relative_humidity
0,0,0,2011-09-10 00:00:49,912.3,64.76,97.0,1.2,106.0,1.6,85.0,1.0,NaN,NaN,60.5
1,10,10,2011-09-10 00:10:49,912.3,62.24,144.0,1.2,167.0,1.8,115.0,0.6,0.0,0.0,38.5
2,20,20,2011-09-10 00:20:49,912.2,63.32,100.0,2.0,122.0,2.5,91.0,1.5,0.0,0.0,58.3

In [6]:
type(data.hpwren_timestamp.values[0])

str

In [8]:
type(data.air_pressure.values[0])

numpy.float64

In [9]:
data.describe()

,Unnamed: 0,rowID,air_pressure,air_temp,avg_wind_direction,avg_wind_speed,max_wind_direction,max_wind_speed,min_wind_direction,min_wind_speed,rain_accumulation,rain_duration,relative_humidity
count,1.587260e+05,1.587260e+05,158726.000000,158726.000000,158680.000000,158680.000000,158680.000000,158680.000000,158680.000000,158680.000000,158725.000000,158725.000000,158726.000000
mean,7.936250e+05,7.936250e+05,916.830161,61.851589,162.156100,2.775215,163.462144,3.400558,166.774017,2.134664,0.000318,0.409627,47.609470
std,4.582039e+05,4.582039e+05,3.051717,11.833569,95.278201,2.057624,92.452139,2.418802,97.441109,1.742113,0.011236,8.665523,26.214409
min,0.000000e+00,0.000000e+00,905.000000,31.640000,0.000000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.900000
25%,3.968125e+05,3.968125e+05,914.800000,52.700000,62.000000,1.300000,68.000000,1.600000,76.000000,0.800000,0.000000,0.000000,24.700000
50%,7.936250e+05,7.936250e+05,916.700000,62.240000,182.000000,2.200000,187.000000,2.700000,180.000000,1.600000,0.000000,0.000000,44.700000
75%,1.190438e+06,1.190438e+06,918.700000,70.880000,217.000000,3.800000,223.000000,4.600000,212.000000,3.000000,0.000000,0.000000,68.000000
max,1.587250e+06,1.587250e+06,929.500000,99.500000,359.000000,31.900000,359.000000,36.000000,359.000000,31.600000,3.120000,2960.000000,93.000000

In [10]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,158726.0,793625.000000,458203.937510,0.00,396812.5,793625.00,1190437.50,1587250.00
rowID,158726.0,793625.000000,458203.937510,0.00,396812.5,793625.00,1190437.50,1587250.00
air_pressure,158726.0,916.830161,3.051717,905.00,914.8,916.70,918.70,929.50
air_temp,158726.0,61.851589,11.833569,31.64,52.7,62.24,70.88,99.50
avg_wind_direction,158680.0,162.156100,95.278201,0.00,62.0,182.00,217.00,359.00
avg_wind_speed,158680.0,2.775215,2.057624,0.00,1.3,2.20,3.80,31.90
max_wind_direction,158680.0,163.462144,92.452139,0.00,68.0,187.00,223.00,359.00
max_wind_speed,158680.0,3.400558,2.418802,0.10,1.6,2.70,4.60,36.00
min_wind_direction,158680.0,166.774017,97.441109,0.00,76.0,180.00,212.00,359.00
min_wind_speed,158680.0,2.134664,1.742113,0.00,0.8,1.60,3.00,31.60
rain_accumulation,158725.0,0.000318,0.011236,0.00,0.0,0.00,0.00,3.12
rain_duration,158725.0,0.409627,8.665523,0.00,0.0,0.00,0.00,2960.00
relative_humidity,158726.0,47.609470,26.214409,0.90,24.7,44.70,68.00,93.00

In [13]:
len(data[data['rain_duration'] != 0])

1489

In [14]:
len(data)

158726

In [15]:
len(data[data['rain_accumulation'] != 0])

914

In [19]:
col_name = data.columns.tolist()
col_name

['Unnamed: 0',
 'rowID',
 'hpwren_timestamp',
 'air_pressure',
 'air_temp',
 'avg_wind_direction',
 'avg_wind_speed',
 'max_wind_direction',
 'max_wind_speed',
 'min_wind_direction',
 'min_wind_speed',
 'rain_accumulation',
 'rain_duration',
 'relative_humidity']

In [26]:
help(col_name.remove)

Help on built-in function remove:

remove(...) method of builtins.list instance
    L.remove(value) -> None -- remove first occurrence of value.
    Raises ValueError if the value is not present.

In [27]:
#col_name.remove('rowID')
#col_name.remove('hpwren_timestamp')
col_name

['Unnamed: 0',
 'air_pressure',
 'air_temp',
 'avg_wind_direction',
 'avg_wind_speed',
 'max_wind_direction',
 'max_wind_speed',
 'min_wind_direction',
 'min_wind_speed',
 'rain_accumulation',
 'rain_duration',
 'relative_humidity']

In [28]:
del data['rain_accumulation']
del data['rain_duration']

In [29]:
data.columns

Index(['Unnamed: 0', 'rowID', 'hpwren_timestamp', 'air_pressure', 'air_temp',
       'avg_wind_direction', 'avg_wind_speed', 'max_wind_direction',
       'max_wind_speed', 'min_wind_direction', 'min_wind_speed',
       'relative_humidity'],
      dtype='object')

In [34]:
col_name.remove('Unnamed: 0')
col_name.remove('rain_accumulation')
col_name.remove('rain_duration')

In [40]:
col_name.remove('min_wind_direction')
col_name.remove('min_wind_speed')
col_name

['air_pressure',
 'air_temp',
 'avg_wind_direction',
 'avg_wind_speed',
 'max_wind_direction',
 'max_wind_speed',
 'relative_humidity']

In [41]:
features = col_name.copy()
features

['air_pressure',
 'air_temp',
 'avg_wind_direction',
 'avg_wind_speed',
 'max_wind_direction',
 'max_wind_speed',
 'relative_humidity']

In [42]:
select_df = data[features]
select_df.head(3)

,air_pressure,air_temp,avg_wind_direction,avg_wind_speed,max_wind_direction,max_wind_speed,relative_humidity
0,912.3,64.76,97.0,1.2,106.0,1.6,60.5
1,912.3,62.24,144.0,1.2,167.0,1.8,38.5
2,912.2,63.32,100.0,2.0,122.0,2.5,58.3

In [51]:
select_df.shape

(158726, 7)

In [43]:
X = StandardScaler().fit_transform(select_df)
X

array([[-1.48446804,  0.24577707, -0.68385323, ..., -0.62153592,
        -0.74440309,  0.49173609],
       [-1.48446804,  0.0328229 , -0.19055941, ...,  0.03826701,
        -0.66171726, -0.34749968],
       [-1.51723658,  0.12408897, -0.65236639, ..., -0.44847286,
        -0.37231683,  0.40781252],
       ...,
       [-0.30480037,  1.15843781,  1.90856325, ...,  2.0393087 ,
        -0.70306017,  0.01489759],
       [-0.30480037,  1.12801579,  2.06599745, ..., -1.67073075,
        -0.74440309, -0.04995245],
       [-0.30480037,  1.09759376, -1.63895404, ..., -1.55174989,
        -0.62037434, -0.05758186]])

In [44]:
X.shape

(158726, 7)

In [46]:
X.is

numpy.ndarray

In [45]:
kmeans = KMeans(n_clusters=12)
model = kmeans.fit(X)
print(model)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').